name: country_code_max
description: A beautiful, animated, and theme-aware country code picker for Flutter that works seamlessly across web and mobile platforms.
version: 1.0.1
homepage: https://github.com/rishuriya/country_code_max

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_screenutil: ^5.9.0
  google_fonts: ^6.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
